img {
    height: 100px;
}

:root {
    --bs-link-color: #5fb560;
    --bs-link-hover-color: #5fb560;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

.btn {
    background-color: #5fb560;
}

.green-link {
    text-decoration: none;
    color: #389639;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 116px);
}

.header-bg {
    background-color: #5fb560;
}

main {
    min-height: calc(100vh - 116px);
    box-sizing: border-box;
    padding: 20px 5%;
    position: relative;
}

footer {
    margin-top: auto;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.footer-container {
    background-color: #5fb560;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}

.auth-container {
    width: 300px;
    margin: 0 auto;
}

.auth-contents {
    color: #ef8133;
    text-decoration: none;
    text-align: center;
}

.mypage-container {
    width: 500px;
    margin: 0 auto;
}

.item-container {
    position: relative;
}

.follow-btn {
    background-color: #a3d78e;
    transition: 0.15s;
    width: 70%;
}

.unfollow-btn {
    background-color: #5fb560;
    transition: 0.15s;
    width: 70%;
}

.item-form {
    width: 70%;
    margin: auto;
}

.item-card {
    background-color: #f9f9ec;
    border-radius: 10px;
    min-height: 200px;
}
.green-btn {
    background-color: #5fb560;
    transition: 0.15s;
    width: 300px;
}

.btn:hover,
.green-btn:hover,
.follow-btn:hover,
.unfollow-btn:hover {
    background-color: #389639;
    transition: 0.15s;
}

body {
    margin: 0;
    padding: 0;
}

.marker {
    background-image: url("../../../laravel-map/public/storage/mapbox-icon.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.modal-dialog-fluid {
    max-width: inherit;
    position: absolute;
    width: 85%;
    margin: 60px auto auto;
    transition: transform 0.3s ease;
}

.modal-content {
    min-height: 500px;
}

.postform {
    width: 400px;
}

.card {
    background-color: rgb(248, 248, 248);
}

#postPrice {
    font-size: 1.5rem;
    font-weight: bold;
}
#postImage {
    width: 150px;
}

.soldout {
    font-size: 1.25rem;
    color: red;
}

#map {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 72%;
    height: 85%;
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -8px;
    width: 60px;
    height: 30px;
    background-color: #60a144;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.price-marker {
    position: absolute;
    color: white;
}

.marker::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: -12px;
    border-top: 15px solid #60a144;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.graph-icon {
    padding: 3px;
    border-radius: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #60a144;
    color: white;
    text-decoration: none;
}

.main-item-card {
    background-color: #f9f9ec;
    border-radius: 10px;
    height: 167px;
}
.main-card-bg {
    background-color: #fffff9;
}
@media screen and (min-width: 1400px) {
    .main-container {
        max-width: 1200px;
    }
}
